<div class="py-0">
  <div class="container max-w-screen-xl py-0 mb-20 mt-10">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-5 mb-10 mb-lg-0">

        <h1 class="ls-tight font-bolder display-4 mb-5">
          Global Presence:<br />an experiment.
        </h1>

        <p class="lead mb-6 font-bold text-lg text-muted font-italic">
          Do you ever look at a page and wonder who else is looking at it at the same time,
          elsewhere in the world?
        </p>

        <hr />

        <p class="lead mt-6 mb-6">
          This mini-app is a POC; a tentative exploration into a non-trivial problem space.
        </p>

        <p class="lead mb-6">
          If you've ever seen a shopping app that tells you how many other shoppers are looking at the product
          you're looking at; it's about <em>that kind of thing</em> but with live updates, a geographically
          distributed data store, pub-sub architecture that spans multiple datacenters,
          and ping times (hopefully) measured in tens of milliseconds.
        </p>

        <p class="lead mt-6 mb-6">
          Note: if you're the *only* person looking at this page right now, it'll be a lot less interesting.
          Ping a friend!
        </p>

      </div>

      <div class="col text-center">
        <%= vite_image_tag("images/presence.png") %>
      </div>
    </div>
  </div>
</div>
