$primary-purple: #7600f7;
$primary: $primary-purple;

$input-btn-focus-width:       0;
$btn-focus-width:             $input-btn-focus-width !default;
$input-focus-width:           $input-btn-focus-width !default;
