<div class="py-10 bg-gray-50">
  <div class="container max-w-screen-xl">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <h4 class="text-lg mb-2">Links</h4>
        <p>Source code on <a href="https://github.com/Matt-Yorkley/global-presence">Github <i class="bi bi-github"></i></a></p>
        <p>Me on <a href="https://twitter.com/overstimulat3d">The Bird App <i class="bi bi-twitter"></i></a></p>

        <h4 class="text-lg mb-2 mt-6">Special Credit</h4>
        <p>Leastbad's <a href="https://dev.to/leastbad/async-redis-key-mutation-notifications-in-rails-4hng">Redis Firehose<i class="bi bi-box-arrow-up-right ms-1"></i></a></p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <h4 class="text-lg mb-2">Technologies</h4>
        <ul class="list-group">
          <li><a href="https://rubyonrails.org/">Rails<i class="bi bi-box-arrow-up-right ms-1"></i></a></li>
          <li><a href="https://docs.stimulusreflex.com">StimulusReflex<i class="bi bi-box-arrow-up-right ms-1"></i></a></li>
          <li><a href="https://cableready.stimulusreflex.com">CableReady<i class="bi bi-box-arrow-up-right ms-1"></i></a></li>
          <li><a href="https://fly.io/">Fly.io<i class="bi bi-box-arrow-up-right ms-1"></i></a></li>
          <li><a href="https://keydb.dev/">KeyDB<i class="bi bi-box-arrow-up-right ms-1"></i></a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <h4 class="text-lg mb-2">Image Credits</h4>
        <ul class="list-group">
          <li>Banner by <a href="https://www.freepik.com/free-vector/big-data-center-server-room-rack-engineering-process-teamwork-computer-technology-cloud-storage_4103163.htm">fullvector<i class="bi bi-box-arrow-up-right ms-1"></i></a></li>
          <li>Lightbulbs by <a href="https://www.freepik.com/free-vector/bulb-yellow-background_5853624.htm">gstudioimagen<i class="bi bi-box-arrow-up-right ms-1"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
